<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Warn">

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <!-- <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log" -->
        <!--         layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" /> -->
        <!-- -->
        <!-- -->
        <!-- <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log" -->
        <!--         layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" /> -->

        <target xsi:type="ColoredConsole" name="Console"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} ${logger}==>${message} ${exception}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        </target>

        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <!--        <logger name="*" minlevel="Trace" writeTo="allfile"/>-->

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="Console" />
    </rules>
</nlog>